
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-bold;
    src: url(fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: Roboto-black;
    src: url(fonts/Roboto-Black.ttf)
}

@font-face {
    font-family: Roboto-thin;
    src: url(fonts/Roboto-Thin.ttf)
}

@font-face {
    font-family: Roboto-light;
    src: url(fonts/Roboto-Light.ttf)
}

@font-face {
    font-family: Shrikhand;
    src: url(fonts/Shrikhand-Regular.ttf)
}

body {
    margin: 0;
    z-index: 1;
}

#index-body {
    width: auto;
    height: 900px;
    font-family: Roboto;
}

#index-header {
    width: auto;
    height: 350px;
    display: flex;
    flex-flow: column;
}

#head-logo {
    width: 150px;
    height: 25px;
    margin: 13px;
    align-self: center;
}

#index-header>div {
    width: auto;
    height: 300px;
    display: flex;
    flex-flow: column;
}

#index-header>div>a {
    text-decoration: none;
    color: black;
}

#city {
    width: auto;
    height: 50px;
    background-color: #e6e6e6;
    align-content: center;
    box-shadow: inset 0px 3px 4px #cecdcd;
}


#city>span {
    font-family: Roboto-bold;
    font-size: 15px;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: center;
}

#city>span>i {
    padding: 10px;
}

#city-content {
    width: auto;
    height: 250px;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#city-content>div {
    width: auto;
    height: 80px;
    justify-content: center;
}

#city-content>div>h1 {
    font-family: Roboto-black;
    font-size: 25px;
    padding: 20px;
}

#city-content>div>p {
    font-family: Roboto-light;
    font-size: 17px;
    padding: 15px 30px 15px 30px;
    width: auto;
    margin: 0;
    color: black;
    text-align: center;
}

#city-content>div>a {
    text-decoration: none;
}

#restaurant-button {
    width: 170px;
    height: 40px;
    border-radius: 100px;
    background-image: linear-gradient(180deg, #FF79DA, #9356DC);
    box-shadow: 0px 5px 7px #cecdcd;
}

#restaurant-button>p {
    font-family: Roboto;
    color: white;
    font-size: 13px;
    padding: 12px;
    text-align: center;
}

#how-it-works {
    width: auto;
    height: 300px;
    margin: 0px 5px 20px 5px;
    padding: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

#how-it-works>div>h1 {
    font-family: Roboto-black;
    font-size: 20px;
}

#steps {
    width: auto;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

#steps>a {
    width: 300px;
    height: 50px;
    text-decoration: none;
    color: black;
}

#steps>a>div {
    width: 300px;
    height: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

#steps>a>div:hover >.paragraph {
    background-color: #f5ecff;
}

#steps>a>div:hover >.paragraph>span>i {
    color: #9356DC;
}

.numbers {  
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #9356DC;
    margin-right: -10px;
    position: relative;
    z-index: 2;
}

.numbers>p {
    font-family: Roboto-light;
    font-size: 12px;
    justify-content: center;    
    text-align: center;
    border-radius: 100px;
    margin: 3px;
    color: white;
}

.paragraph {
    position: relative;
    z-index: 1;
    width: 280px;
    height: 60px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 2px 10px #cecdcd;
}

.paragraph>span {
    margin: 0px 0px 0px 25px;
}

.paragraph>span>i {
    color: grey;
    font-size: 13px;
    width: 15px;
    text-align: center;
}

#phoneic {
    font-size: 15px;
}

.paragraph>span>p {
    font-family: Roboto-bold;
    font-size: 13px;
}

#Restaurants {
    width: auto;
    height: 900px;
    display: flex;
    flex-flow: column;
    background-color: #F2F2F2;
}

#Restaurants>div>h1 {
    padding: 30px 0px 10px 20px;
    font-family: Roboto-black;
    font-size: 20px;
    margin: 0;
}

#maps {
    width: auto;
    height: 800px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.restaurant-map {
    width: 320px;
    height: 190px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #cecdcd;
    text-decoration: none;
    color: black;
    z-index: 1;
}
.restaurant-map>div {
    width: 320px;
    height: 190px;
    display: flex;
    flex-flow: column;
}

.restaurant-map>div>img {
    width: 320px;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}

.restaurant-map>div>div {
    width: 320px;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.restaurant-map>div>div>span {
    width: 40px;
    height: 20px;
    z-index: 2;
}

#empty-heart {
    width: 30px;
    height: 30px;
    display: initial;
}

#colored-heart {
    width: 30px;
    height: 30px;
    display: none;
}

#empty-heart>i {
    font-size: 20px;
}

#colored-heart>i {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 20px;
}

#empty-heart:hover {
    display: none;
}

#empty-heart:hover + #colored-heart {
    display: block;
}

#empty-heart:active {
    display: none;
}

#empty-heart:active + #colored-heart {
    display: block;
}

.restaurant-map>div>div>div {
    width: 200px;
    height: 40px;
    padding: 0px 0px 0px 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.restaurant-map>div>div>div>span>h3 {
    font-family: Roboto-black;
    font-size: 15px;
    margin: 0;
}

.restaurant-map>div>div>div>span>p {
    font-family: Roboto;
    font-size: 13px;
    margin: 0;
}

footer {
    width: auto;
    height: 150px;
    color: white;
    background-color: #2b2b2b;
    display: flex;
    flex-flow: column;
    padding: 25px;
}

footer>div {
    width: auto;
    height: 20px;
    display: flex;
    flex-flow: column;
}

#footlogo {
    width: auto;
    height: 20px;
}

#footlogo>img {
    filter: invert(100%);
    width: 100px;
    height: 20px;
}

footer>div>a {
    width: auto;
    height: 25px;
}

footer>div>a>p {
    font-family: Roboto;
    font-size: 15px;
}

footer>div>a>span {
    width: 200px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

footer>div>a>span>p {
    font-family: Roboto;
    font-size: 15px;
    padding-left: 15px;
}

footer>div>a>span>i {
    font-size: 13px;
    width: 10px;
}

#loading-spinner {
    width: auto;
    height: 900px;
    background-color: white;
    padding: 250px 50px 50px 50px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    animation: loading-background 0s ease-in 1.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes loading-background {
    to {
        width:0;
        height:0;
        padding: 0;
        overflow:hidden;
    }
}

@-webkit-keyframes loading-background {
    to {
        width:0;
        height:0;
        padding: 0;
        visibility:hidden;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#spin-wheel {
    border: 16px solid #e6e6e6;
    border-top: 16px solid #9356DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s linear infinite;
    z-index: 1;
}

@keyframes spin-wheel {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes spin-wheel {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#loading-spinner>img {
    width: 100px;
    height: 20px;
    z-index: 2;
    margin-bottom: -85px;
}

#content {
    animation: showbody 0s 1.5s forwards;
    visibility: hidden;
}

@keyframes showbody {
    to   { visibility: visible; }
}


/*--------------------------------------------------------- MENU PAGE 1 ----------------------------------------------------------*/

#menu-body {
    width: auto;
    height: 1000px;
}

#return-head-logo {
    width: auto;
    height: 50px;
}

#return-head-logo>a {
    width: auto;
    height: 50px;
    text-decoration: none;
    color: black;
}

#return-head-logo>a>div {
    width: auto;
    height: 50px;
    display: flex;
    flex-flow: row;
    padding-right: 55px;
    align-items: center;
    justify-content: space-evenly;
}

#menu-section {
    width: auto;
    height: 1150px;
    display: flex;
    flex-flow: column;
}

#menu-head-img-m1 {
    width: auto;
    height: 250px;
    z-index: 1;
}

#menu-head-img-m1>img {
    width: auto;
    height: 250px;
}

#menu {
    width: auto;
    height: 950px;
    background-color: #F2F2F2;
    border-radius: 35px 35px 0 0;
    z-index: 2;
    margin-top: -50px;
}

#menu>div>span {
    width: auto;
    height: 90px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

#menu>div>span>h1 {
    font-family: Shrikhand;
    font-size: 25px;
}

#heart>span {
    width: 20px;
    height: 20px;
}

#menu-list {
    width: auto;
    height: 770px;
}

#entrees {
    width: auto;
    height: 250px;
    display: flex;
    flex-flow: column;
}

.colored-hr {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.colored-hr>span>p {
    margin: 10px 20px 5px 20px;
    font-family: Roboto;
    font-size: 15px;
}

.colored-hr>span>hr {
    width: 35px;
    height: 1.5px;
    margin: 0px 0px 0 20px;
    border-style: solid;
    border-color: #99E2D0;
    background-color: #99E2D0;
}

.dishes {
    width: auto;
    height: 220px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.dishes>li {
    width: 350px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px #cecdcd;
    display: flex;
    flex-flow: row;
}

.dishes-content {
    width: 350px;
    height: 60px;
    display: flex;
    flex-flow: row;
}

.dishes-content>div {
    width: 350px;
    height: 60px;
}

.dishes-content>div>div {
    width: 250px;
    height: 60px;
    display: flex;
    flex-flow: column;
}

.dishes-content>div>div>span {
    width: 250px;
    height: 20px;
    padding-left: 10px;
}

.dishes-content>div>div>span>h1 {
    font-family: Roboto-bold;
    font-size: 15px;
    padding: 0;
}

.dishes-content>div>div>span>p {
    font-family: Roboto;
    font-size: 13px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dish-money {
    font-family: Roboto-bold;
    font-size: 15px;
    padding: 33px 0 0px 60px;
}

.dish-money>h2 {
    font-family: Roboto-bold;
    font-size: 13px;
    margin: 0;
}

.dishes-animation {
    width: 30px;
    height: 60px;
    background-color: #99E2D0;
}


#button-section {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

#button-section>a {
    text-decoration: none;
}

#button-section>a>div {
    width: 150px;
}


/* animation for the dishes*/

/*--------------------------------------------------------- MENU PAGE 2 ----------------------------------------------------------*/

#menu-head-img-m2 {
    width: auto;
    height: 250px;
    z-index: 1;
}

#menu-head-img-m2>img {
    width: 380px;
    height: 380px;
    object-fit: cover;
}

#menu-section-1 {
    width: auto;
    height: 1205px;
    display: flex;
    flex-flow: column;
}

#menu-1 {
    width: auto;
    height: 1010px;
    background-color: #F2F2F2;
    border-radius: 35px 35px 0 0;
    z-index: 2;
    margin-top: -50px;
}

#menu-1>div>span {
    width: auto;
    height: 90px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

#menu-1>div>span>h1 {
    font-family: Shrikhand;
    font-size: 25px;
}

#menu-list-1 {
    width: auto;
    height: 320px;
}

#entrees-1 {
    width: auto;
    height: 320px;
    display: flex;
    flex-flow: column;
}

.dishes-1 {
    width: auto;
    height: 300px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.dishes-1>li {
    width: 350px;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 10px #cecdcd;
    display: flex;
    flex-flow: row;
}



/*--------------------------------------------------------- MENU PAGE 3 ----------------------------------------------------------*/

#menu-head-img-m3 {
    width: auto;
    height: 250px;
    z-index: 1;
}

#menu-head-img-m3>img {
    width: auto;
    height: 250px;
    object-fit: cover;
}

/*--------------------------------------------------------- MENU PAGE 4 ----------------------------------------------------------*/

#menu-head-img-m4 {
    width: auto;
    height: 250px;
    z-index: 1;
}

#menu-head-img-m4>img {
    width: auto;
    height: 250px;
    object-fit: cover;
}
